<html class="" lang="en"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">
 
<style type="text/css"></style><meta class="foundation-mq">

<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

</head>
<body>



<h1 class="fotoblog"><strong> <img src="
http://www.freeiconspng.com/uploads/png-file-png-file-png-file-png-file-png-file-2.png" width="100"> Fotoblog <img src="https://68.media.tumblr.com/fec198149ed65676b566d1863134efb6/tumblr_nkgkcywOtB1une17mo1_500.gif" width="200"></strong></h1>
</div>
</a>
 
<script async="" src="https://www.google-analytics.com/analytics.js"></script><script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2195009-2', 'auto');
      ga('send', 'pageview');

      ga('create', 'UA-2195009-27', 'auto', {name: "foundation"});
      ga('foundation.send', 'pageview');

    </script>
<style>.fi-social-facebook{color:dodgerblue;font-size:2rem;}.fi-social-youtube{color:red;font-size:2rem;}.fi-social-pinterest{color:darkred;font-size:2rem;}i.fi-social-instagram{color:brown;font-size:2rem;}i.fi-social-tumblr{color:navy;font-size:2rem;}.fi-social-twitter{color:skyblue;font-size:2rem;}</style>
<header>

<br>
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium" data-responsivetoggle="4xepo2-responsivetoggle" style="display: none;">
<button class="menu-icon" type="button" data-toggle=""></button>
<div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="main-menu">
<ul class="menu vertical medium-horizontal expanded medium-text-center dropdown" data-responsive-menu="drilldown medium-dropdown" role="menubar" data-dropdownmenu="t74toa-dropdownmenu" data-responsivemenu="00yufe-responsivemenu">
<li class="has-submenu is-dropdown-submenu-parent is-right-arrow opens-right" role="menuitem" tabindex="0" title="Aprende" aria-haspopup="true"><a href="#" tabindex="-1">Aprende</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Cursos</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Tutoriales</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Consejos</a></li>
</ul>
</li>
<li class="has-submenu is-dropdown-submenu-parent is-right-arrow opens-right" role="menuitem" tabindex="0" title="Actividades" aria-haspopup="true"><a href="#" tabindex="-1">Actividades</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Quedadas</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Concursos</a></li>
</ul>
</li>
<li class="has-submenu is-dropdown-submenu-parent is-right-arrow opens-right" role="menuitem" tabindex="0" title="Material" aria-haspopup="true"><a href="#" tabindex="-1">Material</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">¿Dónde encontrarlo?</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Préstamos</a></li>
</ul>
</li>
<li class="has-submenu is-dropdown-submenu-parent is-right-arrow opens-right" role="menuitem" tabindex="0" title="Comunidad" aria-haspopup="true"><a href="#" tabindex="-1">Comunidad</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Foro</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Entrevistas</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Fotografías</a></li>
</ul>
</li>
<li role="menuitem" tabindex="0" title="Contacto" aria-haspopup="true"><a href="#" tabindex="-1">Contacto</a>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</header>
<br>
<div class="row">
<div class="medium-8 columns">
<p><img src="http://www.revistarecarga.com.mx/wp-content/uploads/2016/09/c%C3%A1mara-nikon-900x450.jpg" alt="main article image"></p>
</div>
<div class="medium-4 columns">
<p><img src="https://adelossantos.files.wordpress.com/2013/06/wtkwycati.jpg?w=400&h=200&crop=1" alt="article promo image"></p>
<p><img src="http://fernandosendra.com/wp-content/uploads/2016/10/cabecera2-400x200.jpg" alt="article promo image"></p>
</div>
</div>
<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">ÚLTIMAS NOTICIAS</h4>
</div>
<hr>
<div class="row small-up-3 medium-up-4 large-up-5">
<div class="column">
<img src="https://s-media-cache-ak0.pinimg.com/736x/09/87/f4/0987f4e6dbd3500f13c5260d7bd77a3e.jpg" alt="image for article">
</div>
<div class="column">
<img src="http://midia.gruposinos.com.br/_midias/jpg/2017/01/16/400x370/fotolia_foto_camera_min_cfddabda-1697262.jpg" alt="image for article">
</div>
<div class="column">
<img src="https://s-media-cache-ak0.pinimg.com/736x/9b/a2/a1/9ba2a1b85d9f8864a7c679558a1ea01a.jpg" alt="image for article">
</div>
<div class="column show-for-medium">
<img src="http://1.bp.blogspot.com/_L11lUg2nbNg/TNrL8W9xSOI/AAAAAAAAAFM/ryQ-hHSHyls/s1600/dorothea+lange4.jpg" alt="image for article">
</div>
<div class="column show-for-large">
<img src="https://s-media-cache-ak0.pinimg.com/736x/ed/9a/e3/ed9ae359468e5533b5bb534c76d396ff.jpg" alt="image for article">
</div>
</div>
<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">NOVEDADES</h4>
</div>
<hr>
<div class="row">
<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
<article>
<div class="row">
<div class="large-6 columns">
<p><img src="https://i2.wp.com/hipertextual.com/archivo/wp-content/uploads/2012/07/5479399374_a201c08250_o.jpg?resize=600%2C370&ssl=1" alt="image for article"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Siete consejos para hacer fotografías de ensueño con tu móvil</a></h5>
<p>
<span><i class="fi-torso"> Por Patricia B. &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 23/5/17 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 58 comentarios</i></span>
</p>
<p>Hay un dicho muy común entre los fotógrafos y los aficionados a la fotografía que dice que “la mejor cámara del mundo es la que tienes en ese momento”.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="https://joanroig.com/wp-content/uploads/2017/03/MG_6237-600x370.jpg" alt="image for article"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">París, un tesoro para un fotógrafo</a></h5>
<p>
<span><i class="fi-torso"> Por Marta G. &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 23/05/17 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 48 comentarios</i></span>
</p>
<p>Aunque ya hemos hablado de fotografía en otras ciudades como Tokio, si pensamos en una ciudad donde no podamos parar de fotografiar allá donde miremos sin duda nos viene a la cabeza París.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="https://i1.wp.com/hipertextual.com/archivo/wp-content/uploads/2010/11/Studio.jpg?resize=600%2C370&ssl=1" alt="image for article"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Recomendaciones para estudiar Fotografía en Madrid</a></h5>
<p>
<span><i class="fi-torso"> Por Gianfranco B. &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 23/05/17 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 69 comentarios</i></span>
</p>
<p>En este post encontrarás una Guía para vivir en Madrid si vas a estudiar fotografía y vives fuera de la ciudad, con datos de interés sobre todo aquello que no puedes perderte.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="https://k60.kn3.net/taringa/9/5/5/2/4/0/Bang77/C0E.jpg" alt="image for article"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Ocho fotografías increíbles tomadas desde un satélite</a></h5>
<p>
<span><i class="fi-torso"> Por Paloma P. &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 23/05/2017 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 49 comentarios</i></span>
</p>
<p>Las fotografías tomadas desde satélites son las mejores que podemos encontrar. Otorgan una perspectiva diferente. Aquí hemos recopilado ocho sencillamente maravillosas. </p>
<hr>
<ul class="pagination" role="navigation" aria-label="Pagination">
<li class="disabled">Anterior <span class="show-for-sr">page</span></li>
<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
<li><a href="#" aria-label="Page 2">2</a></li>
<li><a href="#" aria-label="Page 3">3</a></li>
<li><a href="#" aria-label="Page 4">4</a></li>
<li><a href="#" aria-label="Next page">Siguiente <span class="show-for-sr">page</span></a></li>
</ul>
</article>
</div>
<div class="large-4 columns">
<aside>
<div class="row small-up-3">
<div class="column text-center">
<i class="fi-social-facebook"></i>
<h6>56,009</h6>
<p><small>FOLLOWERS</small></p>
<br>
</div>
<div class="column text-center">
<i class="fi-social-twitter"></i>
<h6>76,905</h6>
<p><small>FOLLOWERS</small></p>
<br>
</div>
<div class="column text-center">
<i class="fi-social-instagram"></i>
<h6>34,099</h6>
<p><small>FOLLOWERS</small></p>
<br>
</div>
<div class="column text-center">
<i class="fi-social-tumblr"></i>
<h6>13,765</h6>
<p><small>FOLLOWERS</small></p>
</div>
<div class="column text-center">
<i class="fi-social-pinterest"></i>
<h6>9,283</h6>
<p><small>FOLLOWERS</small></p>
</div>
<div class="column text-center">
<i class="fi-social-youtube"></i>
<h6>99,000</h6>
<p><small>FOLLOWERS</small></p>
</div>
</div>
<br>
<div class="row column">
<p class="lead">DESTACADO DE LA SEMANA</p>
<p><img src="https://fotografiaimaginaciondigitalwordpresscom.files.wordpress.com/2015/12/dial-de-modo.jpg?w=1075" alt="advertisement of ShamWow"></p>
</div>
<br>
<div class="row column">
<p class="lead">TRENDING POSTS</p>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://www.ivasfot.com/wp-content/gallery/publi-primero/thumbs/thumbs_mg_4562.jpg">
</div>
<div class="media-object-section">
<h5>Los alumnos del Primer Curso de Fotografía Profesional, en clase.</h5>
</div>
</div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://www.zinema.com/blog/wp-content/uploads/2016/11/amoros.jpg">
</div>
<div class="media-object-section">
<h5>Muere el director de fotografía Juan Amorós</h5>
</div>
</div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://www.viveboda.net/empresa-bodas/fotografia/diego-alonso-fotografo/thumbs/diego-alonso-fotografo-fotografia-10875.jpg">
</div>
<div class="media-object-section">
<h5>Haz del album de tu boda algo que recordar para siempre</h5>
</div>
</div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://fotos.diariovasco.com/201402/01-blog_vasver_fotografia_donostia_san-sebastian_olas_febrero_2014-100x100x80xX.jpg">
</div>
<div class="media-object-section">
<h5>Vasver Fotografia Donostia-San Sebastián presenta:</h5>
</div>
</div>
</div>
</aside>
</div>
</div>
<footer>
<div class="row expanded callout secondary">
<div class="large-4 columns">
<h5>IMÁGENES DE INSTAGRAM</h5>
<div class="row small-up-4">
<div class="column"><img class="thumbnail" src="https://www.ateneodemadrid.com/var/ezwebin_site/storage/images/agenda/exposiciones/cruz-roja/exposicion-de-fotografia-150-anos-de-accion-humanitaria-con-las-victimas-de-la-guerra/exposicion-de-fotografia-150-anos-de-accion-humanitaria-con-las-victimas-de-la-guerra4/199701-1-esl-ES/Exposicion-de-fotografia-150-anos-de-accion-humanitaria-con-las-victimas-de-la-guerra_gallerythumbnail.jpg" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://www.gabifg.com/wp-content/uploads/2013/02/saray+ioritz-gabifernandezguevara-fotografia-bodas-vitoria-gasteiz-alava-pais-vasco16-75x75.jpg" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://farm4.staticflickr.com/3509/3180372590_7bea5a343d_s.jpg" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://cinemartin.com.br/wp-content/uploads/2015/06/d7df4b_a1b36df58ac247bdbf2d77f8e5734979-mv2-75x75.jpg" alt="image of space dog"></div>
</div>
</div>
<div class="large-4 columns">
<h5>IMÁGENES DE FLICKR</h5>
<div class="row small-up-4">
<div class="column"><img class="thumbnail" src="http://images.quebarato.cl/T75x75/book+de+fotografia+profesional+y+economico+santiago+metropolitana+de+santiago+chile__B5415C_2.jpg" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://img1.etsystatic.com/069/0/10913777/il_75x75.811654529_s3xg.jpg" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://farm1.staticflickr.com/333/31552240713_f15e8e0805_s.jpg" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://www.multimagen.com/portfolios/portfolio/6605/miniport_nachomy_5012.jpg" alt="image of space dog"></div>
</div>
</div>
<div class="large-4 columns">
<h5>Quiénes somos</h5>
<p>La fotografía forma parte de nuestra vida. Nos consideramos personas creativas con ganas de crear y, especialmente, de compartir con todos vosotros.</p>
</div>
</div>
<div class="row expanded">
<div class="medium-6 columns">
<ul class="menu">
<li><a href="#">Legal</a></li>
<li><a href="#">Partner</a></li>
<li><a href="#">Explore</a></li>
</ul>
</div>
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright © 2017 Los Angeles de Egoman</li>
</ul>
</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>


</body></html>