<%= form_for(@aprende) do |f| %>
  <% if @aprende.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aprende.errors.count, "error") %> prohibited this aprende from being saved:</h2>

      <ul>
      <% @aprende.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
